/**************************************************
#NAVIGATION
**************************************************/

@mixin nav-styles {
    li {
        font-family: $nav-font;
        font-weight: 600;  
        a {
                color: $tertiary-dark!important;
                &:hover {
                    color: $secondary-color!important;
                    text-decoration: none!important;
                }
            }
    }
    
}

/**************************************************
#BUTTONS
**************************************************/
@mixin button-font {
    font-family: $content-font;
    font-weight: 700;
    font-size: 2rem;
}

@mixin button-round {
    border-radius: 28px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

@mixin button-animate {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}