/**************************************************
#NAVIGATION
**************************************************/

@mixin nav-styles {
    li {
        font-family: $nav-font;
        font-weight: 600;  
        a {
                color: $tertiary-dark!important;
                &:hover {
                    color: $secondary-color!important;
                    text-decoration: none!important;
                }
            }
    }
    
}

/**************************************************
#BUTTONS
**************************************************/
@mixin button-font {
    font-family: $content-font;
    font-weight: 700;
    font-size: 2rem;
}

@mixin button-round {
    border-radius: 28px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

@mixin button-animate {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
            &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $secondary-color;
        border-radius: 100%;
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        z-index: -1; }
      &:hover {
        color: #fff !Important; }
        &:hover:before {
          -moz-transform: scale(2);
          -o-transform: scale(2);
          -ms-transform: scale(2);
          -webkit-transform: scale(2);
          transform: scale(2); }
}