/**************************************************
#PALETTE
**************************************************/

$primary-color: #fd7014;
$secondary-color: #7fcb59;
$tertiary-dark: #222831;
$tertiary-medium: #393e46;
$tertiary-light: #eee;





/**************************************************
#TYPOGRAPHY
**************************************************/

$logo-font: 'Kaushan Script', cursive;
$nav-font: 'Open Sans', sans-serif;
$content-font: 'Lora', serif;